<mat-card class="container_one">
    <mat-card-title class="container_title">{{isNew()? 'Create' : 'Edit'}} {{camelCaseSingular}}</mat-card-title>
    <mat-card-content>
        @if (error) {
        <app-error-loading></app-error-loading>
        } @else if(loading()){
            <app-loading title="Loading data...." />
        } @else {
            <form [formGroup]="{{camelCaseSingular}}Form">
                <div class="wrap-grid">    
                    <div class="form-field">
                        <mat-form-field appearance="fill">
                            <mat-label>Name</mat-label>
                            <input matInput formControlName="name" />
                            <mat-error *ngIf="{{camelCaseSingular}}Form.get('name')?.hasError('required')">The name is mandatory</mat-error>
                        </mat-form-field>
                    </div>
    
                </div>
            </form>
        }

    </mat-card-content>
    <mat-card-actions class="submit_cancel_buttons space-x-3">
        <button class="button_with_icon" mat-stroked-button (click)="cancel()">
            <mat-icon>
                undo
            </mat-icon>
            Cancel
        </button>

        @if (submiting) {
            <button *ngIf="!loading() || !error" mat-raised-button color="primary" (click)="submit()" [disabled]="!enableButtonSave()">
               <div class="flex center space-x-2">
                   <mat-spinner [diameter]="18"></mat-spinner>
                   <span>
                       {{ this.isNew() ? 'Creating {{camelCaseSingular}}...' : 'Updating {{camelCaseSingular}}...' }}
                   </span>
               </div>
            </button>
        }
        @else {
            <button *ngIf="!loading() || !error" class="flex between" mat-flat-button color="primary" (click)="submit()" [disabled]="!enableButtonSave()">
                <mat-icon>
                    {{ this.isNew() ? 'save' : 'update' }}
                </mat-icon>
                {{ this.isNew() ? 'Create {{camelCaseSingular}}' : 'Update {{camelCaseSingular}}' }}
            </button>
        }

    </mat-card-actions>
</mat-card>