<div class="login-container">
       <mat-card>
         <mat-card-header>
           <mat-card-title>Login</mat-card-title>
           <mat-card-subtitle>Access your account</mat-card-subtitle>
         </mat-card-header>
         <mat-card-content>
           <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
             <mat-form-field appearance="fill" class="full-width">
               <mat-label>Email</mat-label>
               <input matInput formControlName="email" type="email" required />
               <mat-error>
                 {{ resetForm.get('email')?.invalid && resetForm.get('email')?.touched ? 'Please enter a valid email' : ''}}.
               </mat-error>
             </mat-form-field>     
             <button mat-raised-button class="full-width" color="primary" type="submit" [disabled]="resetForm.invalid || submiting">
              <div style="width: 100%; display: flex; justify-content: center; align-items: center;">
                {{ submiting ? 'Reseting...' : 'Reset'}}
                <mat-spinner *ngIf="submiting"  [strokeWidth]="1" [diameter]="20" mode="indeterminate" style="margin-left: 16px;"></mat-spinner>
              </div>
             </button>
           </form>
         </mat-card-content>
         <mat-card-actions [align]="'end'">
          <button mat-button (click)="navigateAuth()">Go login?</button>
      </mat-card-actions>
       </mat-card>  
  </div>